h1 {font-family: 'Cedarville Cursive', cursive;background-color: white;padding-bottom: 10px;text-align: center;padding-top: 30px;width: 100%;}

.navbar-brand {font-family: 'Cedarville Cursive', cursive; padding-top: 0px; background-color: white;}

.container {font-family: 'Syne', sans-serif;width:100%;padding-right:25px;padding-left:25px;margin-right:auto;margin-left:auto;padding-top: 30px;padding-bottom: 25px;border-style:ridge;background-color: white;}

.cardmt-2 {background-color: azure;}

.divider {padding-top: 20px;padding-bottom: 50px;}

body {
    background-image: url("https://i.pinimg.com/originals/d5/b6/6b/d5b66beed89914298ba1d73640e96434.jpg"), url("https://i.pinimg.com/originals/d5/b6/6b/d5b66beed89914298ba1d73640e96434.jpg");
    background-repeat: no-repeat, repeat;
    background-color:white;
    background-attachment: fixed;
    margin-top: 30px;
    font-family: 'Syne', sans-serif;
  }

  .charlie
  {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
.navbar-nav { background-color:white; width: 100%;padding-bottom: 10px;padding-top: 0px;font-size: 20px;font-family: 'Syne', sans-serif;}

.denver
{
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 10px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}